{extend name="share:layout"/}
{block name="title"}首页{/block}


{block name="body"}

<h3>欢迎使用TP5 代码生成器！</h3><br>
<h4>
1、本软件生成的代码基于：<b>ThinkPHP5.0.20  +  mysql数据库</b><br><br>
2、<b>步骤：</b>请首先建立好数据库，然后修改本程序中的"/application/database.php"数据库配置<br>
<small>
<b>注意：</b>建议将每个字段标注“备注”，字段的“备注”在本生成器中非常有用，在生成验证器、表单、管理表格时会首先读取字段“备注”的信息
</small><br><br>
3、[<i>模型</i>]生成中仅实现了简单的功能，暂做参考演示！
<br><br>
4、[<i>表格</i>]、[<i>表单</i>]生成使用Bootstrap框架的样式！
<br><br>
5、使用本程序生成的代码，最少需要生成[<i>控制器</i>]、[<i>验证器</i>]。在<i>控制器</i>中调用到了<i>验证器</i>生成的类。
<br><br>
6、所有功能“步骤1”都需要选择操作的数据表。
<br>
</h4>
{/block}