{extend name="share:layout"/}
{block name="title"}控制器 - 步骤2{/block}
{block name="body"}
<h3>控制器 - 步骤2</h3>

<br>
<pre>

namespace app\index\controller;

use think\Controller;
use think\Db;

class {$Think.get.table|ucfirst} extends Controller
{
    public function manager($keyword='')
    {
    	$wheresql = '1=1';
    	if($keyword!='')
    		$wheresql .= "{$wheresql}";
    		
    	$list = Db::name('{$tb}')->where($wheresql)->paginate(25);
    	$page = $list->render();
    	
    	$this->assign('list', $list);
	$this->assign('page', $page);

    	return view();
    }
    
    public function add(){
    
    	return view('edit');
    }
    
    public function edit(${$key|strtolower}){
    
    	$m = Db::name('{$tb}')->find(${$key|strtolower});
    	$this->assign('m', $m);
    	return view();
    }
    
    public function delete(${$key|strtolower}){
    
    	if(Db::name('{$tb}')->delete(${$key|strtolower})){
    		$this->success('删除成功！','manager');
    	}else{
    		$this->error('删除失败！');
    	}
    }
    
    public function save(){
    	
    	$data=input('post.');
    	if($data['{$key}']==''){
    		$result = $this->validate($data,'{$tb|ucfirst}.add');
			if(true !== $result){
			    $this->error($result);
			}else{
				Db::name('{$tb}')->insert($data);
				$this->success('添加成功！','manager');
			}
    	}else{
    		$result = $this->validate($data,'{$tb|ucfirst}.edit');
			if(true !== $result){
			    $this->error($result);
			}else{
    			Db::name('{$tb}')
			    	->where('{$key}', $data['{$key}'])
			    	->update($data);
    			$this->success('更新成功！','manager');
    		}
    	
    	}
    }
    
}
	
	
</pre>

{/block}