{extend name="share:layout"/}
{block name="title"}表单生成 - 步骤1{/block}

{block name="body"}
<h3>表单生成 - 步骤1<small>对应控制器中的(add、edit)方法</small></h3>
<form action="{:url('page_form_step2')}" method="get">
选择表：
<select name="table">
<option value=""></option>
{volist name="tables" id="vo"}
<option value="{$vo}" {eq name="Think.get.table" value="$vo"}selected{/eq}>{$vo}</option>
{/volist}
</select>
<br><br>选择表单样式：
<br>
<input type="radio" name="style" id="formb" value="b" checked><label for="formb">基本表单</label>
<input type="radio" name="style" id="formh" value="h"><label for="formh">水平表单</label>
<input type="radio" name="style" id="formi" value="i"><label for="formi">内联表单</label>
<br><br>
<input type="submit" value="提交">
</form>


{/block}